---
import Layout from "@/layouts/Layout.astro";
export const prerender = false;
---

<Layout>
    <h1>Esta ruta esta protegida</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius aliquam
        alias iste ab tempore fuga magnam necessitatibus, eum maiores
        voluptatibus facilis sed quae, ducimus quas autem voluptas reiciendis
        minima neque?
    </p>
</Layout>
